*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family: Arial, Helvetica, sans-serif;
}
html,
body,#root { 
    height : 100%;
    width : 100%;
}

html{
  background-color: rgb(52, 51, 51);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  color: rgb(206, 204, 204);
  gap: 2rem;
  padding-block: 2rem;
  padding-inline-start: 2rem;
  flex-wrap: wrap;
}

.note{
  max-width: 20rem;
  background-color: rgb(91, 91, 91);
  border-radius: 0.7rem;
  height: 8rem;
  padding: 2rem;
}